.about-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f0f0f0; /* Light gray background */
  padding: 40px 20px;
}

.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .section {
    flex-direction: row;
    align-items: center;
  }
}

.section-image {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.section-image img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-content {
  flex: 2;
  min-width: 300px;
}

.section-title {
  font-size: 2em;
  color: teal;
  margin-bottom: 10px;
}

.section-text {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 20px;
}

.learn-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: coral;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s, background-color 0.3s;
}

.learn-more:hover {
  background-color: #e57373;
  transform: scale(1.1); /* Scale the button to 110% */
}